@import "./variables.css";

@font-face {
    font-family: "Montserrat-Bold";
    src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("./assets/fonts/Montserrat-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: auto;
}

.background-image {
    background: url(./assets/images/grey.png);
}

.header-background {
    background-color: var(--header-background-color)
}

.header {
    max-width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-top: 49px;

}



.nav-text-menu:hover {
    color: var(--primary-project-color);
    border-bottom: 2px solid var(--primary-project-color);
    padding-bottom: 47px;
}

.icon-link:hover img {
    filter: invert(60%) sepia(63%) saturate(538%) hue-rotate(118deg) brightness(98%) contrast(91%)
}


.nav__link {
    text-decoration: none;
}

.nav-text-menu {
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    color: var(--nav-text-color);
    font-size: 16px;
    padding-bottom: 49px;

}

.home-page {
    padding: 240px 0 240px 0;
}

.text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first-text {
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-size: 35px;
}

.first-text-green {
    color: var(--primary-project-color);
}

.second-text {
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-size: 78px;
}

.third-text {
    font-family: Montserrat-Regular;
    color: var(--subtitle-third-text-color);
    font-size: 34px;
}

.button-wrapper {
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.button-first {
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-size: 15px;
    padding: 17px 19px;
    background-color: var(--primary-project-color);
    border-radius: 4px;
    margin-right: 25px;
    border-top: 5px solid var(--primary-text-color);
    cursor: pointer;
}

.button-second {
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-size: 15px;
    padding: 17px 13px;
    background-color: var(--button-color);
    border-radius: 4px;
    border-top: 5px solid var(--primary-text-color);
    cursor: pointer;
}

.colorful-squares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 360px);
    padding-top: 10px;
}


.squar-first,
.squar-third {
    background-color: var(--secondary-project-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.squar-second,
.squar-fourth {
    background-color: var(--primary-project-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info {
    max-width: 1160px;
    margin: auto;
}

.our-services {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.caption-one {
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: var(--caption-text-color);
}

.decoration {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.tabs-wrapper {
    padding-top: 70px;
}

.tabs-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.tab {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    border: 1px solid var(--border-third-color);
    background-color: var(--background-second-color);
    background-color: var(--background-color);
    font-size: 16px;
    cursor: pointer;
    /* color: red; */
}

.tab.active {
    background-color: var(--primary-project-color);
    color: var(--primary-text-color);
}

.tab:hover {
    border: 1px solid var(--primary-project-color);
}

.tabs-panels {
    margin-top: 20px;
}

.tab-panel {
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 24px;
    display: none;
}

.tab-panel.active {
    display: block;
}

.slide-panel {
    display: block;
}

.slide-panel.active {
    display: none;
}




.content-wrap {
    display: flex;
}



.text {
    margin-left: 20px;
}

.tab {
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: var(--secondary-text-color);
    cursor: pointer;
}

/* .tab.active {
    background-color: red;
} */

.background-image-second {
    background: url(./assets/images/Layer.png);
    background-size: cover;
    /* height: 470px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.section-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 0 128px 0;
}

.caption-text {
    font-family: Montserrat-Bold;
    font-size: 40px;
    color: var(--primary-project-color);
}

.subtitle-text {
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: var(--subtitle-second-text-color);
    padding-top: 12px;
}

.button-third {
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-size: 15px;
    padding: 15px 17px;
    background-color: var(--primary-project-color);
    border-radius: 4px;
    margin-right: 25px;
    border-top: 5px solid var(--primary-text-color);
    cursor: pointer;
    margin-top: 60px;
}

.grid-info {
    background-color: var(--background-color);
    margin: auto;
    padding: 100px 0 100px 0;
}

.amazing-work {
    display: flex;
    justify-content: center;
}

.caption-second {
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: var(--caption-text-color);
}

.tabs-header-two {
    display: grid;
    grid-template-columns: 79px 120px 145px 140px 108px;
    justify-content: center;
    margin-top: 70px;
}

.tab-second {
    font-size: 14px;
    cursor: pointer;
    color: var(--secondary-text-color);
    font-family: Montserrat-Regular;
    border: 1px solid var(--border-second-color);
    display: flex;
    justify-content: center;
    padding: 18px 0;
}

.categories-wrapper {
    width: 1160px;
    margin: auto;
    /* padding-top: 70px 0 100px 0; */
    padding-top: 70px;
}

.categories-card {
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 215px); */
    /* grid-auto-rows: repeat( 215px 215px 215px); */
}

.btn {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    /* padding-bottom: 100px; */
}

.btnn {
    font-size: 14px;
    background-color: var(--primary-project-color);
    padding: 15px 17px;
    margin-left: 15px;
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    color: var(--primary-text-color);
    border-radius: 4px;
    cursor: pointer;
}

.svg {
    margin-right: 15px;
}

.categories-wrapper {
    display: none;

}

.categories-wrapper.active {
    display: block;

}

.tab-second:hover {
    border: 1px solid var(--primary-project-color);
}

.tab-second.active {
    border: 1px solid var(--primary-project-color);
    color: var(--primary-project-color);
}


.wrapper {
    position: relative;
    width: 100%;
    height: 215px;
}

.image-wrap {
    display: block;
    width: 50%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--background-color);
    border-top: 2px solid var(--primary-project-color);
    display: flex;
    justify-content: center;
}

.wrapper:hover .overlay {
    opacity: 1;
}

.images {
    margin-top: 45px;
    cursor: pointer;
}

.text1 {
    margin-top: 23px;
    text-transform: uppercase;
    font-family: Montserrat-Bold;
    font-size: 15px;
    color: var(--primary-project-color);
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.subtitle1 {
    font-family: Montserrat-Light;
    font-size: 12px;
    color: var(--subtitle-text-color);
    font-size: 15px;
    position: absolute;
    top: 72%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.grid-info-second {
    width: 1160px;
    margin: auto;
}

.grid {
    width: 1160px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 281px);
    /* gap: 33px; */
    /* row-gap: 50px; */
    gap: 33px;
}

.caption-third {
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: var(--caption-text-color);
}

.breakihg-news {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.news-wrapper {
    position: relative;
}

.new-date {
    background-color: rgba(32, 62, 56, 1);
    height: 64px;
    width: 66px;
    position: absolute;
    left: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    color: var(--primary-text-color);
    font-family: Montserrat-Regular;
    font-size: 16px;
}

.month {
    margin-top: 5px;
}

.news-text {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.text1-news {
    color: var(--secondary-text-color);
    font-size: 18px;
    font-family: Montserrat-Bold;
    margin-top: 8px;
}

.description-wrapper {
    display: flex;
    margin-top: 4px;
}

.text-avtor {
    font-family: Montserrat-Light;
    font-size: 14px;
    padding-right: 17px;
    border-right: 1px solid var(--border-color);
}

.text-comment {
    font-family: Montserrat-Light;
    font-size: 14px;
    padding-left: 17px;

}

.news-wrapper:hover .text1-news {
    color: var(--primary-project-color);
}

.news-wrapper:hover .new-date {
    background-color: var(--primary-project-color);
}








.backgrounds {
    background-image: url(./assets/images/background-mountains.png);
}

.info-swiper {
    width: 1160px;
    margin: auto;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.user-name {
    color: var(--primary-project-color);
    font-size: 16px;
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    margin-top: 40px;
}

.user-post {
    color: var(--swiper-text-color);
    font-size: 13px;
    font-family: Montserrat-Light;
    margin-top: 5px;
}

.caption-fourth {
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: var(--primary-text-color);
    margin-top: 90px;
}





#container-slider {
    width: 1160px;
    margin: auto;
    margin-top: 40px;
    /* display: flex; */
}

.text-slider {
    font-size: 16px;
    color: var(--swiper-text-color);
    font-family: Montserrat-Light;
    text-align: center
}

.imgg {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide-panel {
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 24px;
    display: none;
}

.slide-panel.active {
    display: block;
}

.container-nav {
    width: 1160px;
    margin: auto;
}

.carousel-navigation {
    display: flex;
    width: 483px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 45px 0 45px 0;
    align-items: center;
    margin-top: 10px;
}

.arrow-right {
  
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    
}

.arrow-left {
 
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    
}

.left {
    padding: 6px 8px 6px 7px;
}

.right {
    padding: 7px 8px 6px 6px;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.footer {
    background-color: var(--footer-background-color);    
}

.footer-wrapper {
    width: 1160px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 48px 0 48px 0;
}

.footer-text {
    border-right: 1px solid var(--footer-text-color);
    font-family: Montserrat-Light;
    padding-right: 8px;  
    color: var(--footer-text-color);  
}

.footer-text-second {
    font-family: Montserrat-Light;
    padding-left: 8px;
    color: var(--footer-text-color);     
}

.footer-text-color {
    color: var(--primary-project-color);
}