:root {

    --header-background-color: rgba(94, 93, 88, 0.6);
    --nav-text-color: rgba(255, 255, 255, 0.6);


    --primary-project-color: rgba(24, 207, 171, 1);
    --secondary-project-color: rgba(28, 42, 51, 1);
    --background-color: rgba(233, 237, 239, 1);
    --background-second-color: rgb(248, 252, 254);
    --caption-text-color: rgba(78, 78, 78, 1);
    --button-color: rgba(0, 203, 246, 1);

    --primary-text-color: rgba(255, 255, 255, 1);
    --secondary-text-color: rgba(113, 113, 113, 1);

    --border-color: rgba(119, 119, 119, 1);

    --border-second-color: rgba(218, 218, 218, 1);
    --border-third-color: rgba(237, 239, 239, 1);

    --subtitle-text-color: rgba(138, 138, 138, 1);
    --swiper-text-color: rgba(187, 187, 187, 1);
    --subtitle-second-text-color: rgba(216, 216, 216, 1);
    --subtitle-third-text-color: rgba(216, 216, 216, 1);

    --footer-background-color: rgba(34, 53, 63, 1);
    --footer-text-color: rgba(174, 174, 174, 1);






}